rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /subjects/{subjectId} {
      allow read, write: if request.auth != null;
      match /questions/{questionId} {
        allow read, write: if request.auth != null;
      }
    }
    match /quiz_attempts/{attemptId} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == resource.data.studentId || request.auth.uid == resource.data.teacherId;
      allow delete: if false;
    }
    match /users/{userId} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == userId;
    }

    function isUserAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, create: if isUserAuthenticated();
      allow update: if isUserAuthenticated() && request.auth.uid == userId;
    }

    match /subjects/{subjectId} {
      allow read: if isUserAuthenticated();
      // Add rules for write access if needed (e.g., only for teachers)
    }

    match /subjects/{subjectId}/questions/{questionId} {
      allow read: if isUserAuthenticated();
      // Add rules for write access if needed
    }

    match /quiz_attempts/{attemptId} {
      allow read, create: if isUserAuthenticated();
      allow update: if isUserAuthenticated() && (request.auth.uid == resource.data.studentId || request.auth.uid == resource.data.teacherId);
      allow delete: if false;
    }

    match /enrolledStudents/{enrollmentId} {
      allow read: if isUserAuthenticated() && 
                  (resource.data.studentUid == request.auth.uid || resource.data.teacherUid == request.auth.uid);
      allow write: if isUserAuthenticated() && 
                   request.auth.uid == request.resource.data.teacherUid;
      allow delete: if isUserAuthenticated() &&
                    request.auth.uid == resource.data.teacherUid;
    }
  }
}
